body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://i.pinimg.com/564x/6b/24/8e/6b248edc8857cf5cbdba093e3d15f03a.jpg'); /* reemplaza con tu imagen de fondo */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    height: 100vh;
}

header {
    background-color: #FF6545; /* cambia el color de fondo a rojo */
    color: white; /* cambia el color del texto a blanco */
    font-family: 'Arial', sans-serif; /* utiliza una fuente similar a Arial */
    font-weight: bold; /* añade negrita para hacerla más similar al título del formulario */
    font-size: 20px; /* ajusta el tamaño de la fuente según sea necesario */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons a {
    margin-right: 10px;
    text-decoration: none;
    color: white;
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
        align-items: center;
    }
    .logo {
        margin-bottom: 10px;
    }
    .buttons {
        flex-direction: column;
    }
    .buttons a {
        margin-bottom: 10px;
    }

}
.welcome-message {
    text-align: center;
    font-size: 32px;
    color:  white; /* cambia el color del texto a blanco */
    font-family: 'Arial', sans-serif; /* utiliza una fuente similar a Arial */
    font-weight: bold ; /* hace que el texto esté en negrita */
    margin-top: 160px; /* ajusta el margen superior para bajar el texto */
    position: absolute;
    top: 60%; /* ajusta la posición vertical del texto */
    left: 50%;
    transform: translate(-50%, -50%);
}