<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Servicio</title>
</head>
<body>

<h2>Editar Servicio</h2>

<form th:action="@{/editarServicio}" method="post" th:object="${servicio}">
    <input type="hidden" th:name="id_servicio" th:value="${servicio.id_servicio}" />

    <label for="servicio">Nombre del servicio:</label><br>
    <input type="text" id="servicio" name="servicio" th:value="${servicio.servicio}" required><br><br>

    <label for="descripcion">Descripción:</label><br>
    <textarea id="descripcion" name="descripcion" th:field="*{descripcion}" required></textarea><br><br>

    <button type="submit">Actualizar</button>
    <button type="button" onclick="window.location.href='/homeAdmin';">Cancelar</button>
</form>

</body>
</html>