<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Actualizar Perfil de Entrenador</title>
    <script src="validacion.js"></script>
</head>
<body>

<div>
    <h2>Actualizar Perfil de Entrenador</h2>

    <form th:action="@{/actualizarEntrenador}" method="post" th:object="${usuario}"  onsubmit="return validaciones()">
        <input type="hidden" id="id" name="id" th:value="${usuario.id}"> <!-- Campo oculto para enviar el ID del usuario -->

        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" th:value="${usuario.nombre}" required><br><br>

        <label for="telefono">Teléfono de Contacto:</label>
        <input type="tel" id="telefono" name="telefono" th:value="${usuario.telefono}"><br><br>

        <label for="contrasena">Nueva Contraseña:</label>
        <input type="password" id="contrasena" name="contrasena"><br><br>

        <label for="confirmarContrasena">Confirmar Contraseña:</label>
        <input type="password" id="confirmarContrasena" name="confirmarContrasena" required><br><br>

        <input type="hidden" name="rol" value="${usuario.rol}">

        <button type="submit">Actualizar</button>
        <button type="button" onclick="window.location.href='/homeAdmin';">Cancelar</button>
        </button>
    </form>
</div>




</body>
</html>
