<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperación de Contraseña - Escuela Canina</title>
    <link rel="stylesheet" type="text/css" href="styleCorreo.css">
</head>
<body>
<div class="container">
    <h1>Recuperación de Contraseña</h1>
    <p>Estimado/a usuario/a,</p>
    <p>Hemos recibido una solicitud para recuperar la contraseña de tu cuenta de dogwalker. A continuación, te proporcionamos tu contraseña:</p>
    <p><strong>Tu contraseña es: [contrasena]</strong></p>
    <p>Si no has solicitado esta recuperación de contraseña, por favor, ignora este mensaje o ponte en contacto con nosotros.</p>
    <div class="footer">
        <p>Atentamente,<br>Equipo de dogwalker</p>
    </div>
    <div class="paw">
        <img src="https://www.clipartkey.com/mpngs/m/171-1715199_huellas-de-perro-png.png" alt="Huella"> <!-- Reemplaza esta URL con la URL de tu imagen de huella -->
    </div>
</div>
</body>
</html>