<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperación de Contraseña - DOG WALKER</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 0;">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td style="padding: 20px;">
            <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="background-color: #fff; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                <tr>
                    <td style="padding: 20px;">
                        <h1 style="color: #4CAF50; text-align: center;">Recuperación de Contraseña</h1>
                        <p>Estimado/a usuario/a,</p>
                        <p>Hemos recibido una solicitud para recuperar la contraseña de tu cuenta de dogwalker. A continuación, te proporcionamos tu contraseña:</p>
                        <p><strong>Tu contraseña es: [contrasena]</strong></p>
                        <p><strong style="color: #FF0000">RECUERDA AL INGRESAR CAMBIAR LA CONTRASEÑA QUE ES TEMPORAL</strong></p>
                        <p>Si no has solicitado esta recuperación de contraseña, por favor, ignora este mensaje o ponte en contacto con nosotros.</p>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center; padding-top: 20px;">
                        <p style="font-size: 12px; color: #888;">Atentamente,<br>Equipo de dogwalker</p>
                        <div style="position: relative;">
                            <img src="https://www.clipartkey.com/mpngs/m/171-1715199_huellas-de-perro-png.png" alt="Huella" style="width: 50px; height: auto;">
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>>