<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" type="text/css" href="styleFormularios.css"> <!-- Enlaza la hoja de estilos para los formularios -->
</head>
<body class="login-bg" >
<header>
    <div class="logo">DOG WALKER</div>
    <div class="buttons">
        <a href="/">Home</a>
    </div>
</header>

<div th:if="${error}">
    <p style="color: red;" th:text="${error}"></p>
</div>

<div class="login-form"> <!-- Agrega la clase login-form al div que contiene el formulario -->
    <h2>Iniciar sesión</h2>

    <form th:action="@{/login}" method="post" th:object="${usuario}">
        <label for="correo">Correo electrónico:</label><br>
        <input type="email" id="correo" name="correo" required><br><br>

        <label for="contrasena">Contraseña:</label><br>
        <input type="password" id="contrasena" name="contrasena" required><br><br>

        <button type="submit">Iniciar sesión</button>
        <button type="button" onclick="window.location.href='/registro';">Registro</button>
    </form>

    <button id="mostrarFormularioRecuperacion" onclick="mostrarFormulario()">¿Olvidaste tu contraseña?</button>

    <!-- Formulario para solicitar recuperación de contraseña (oculto inicialmente) -->
    <form id="formularioRecuperacion" th:action="@{/recuperarcontrasena}" method="post" style="display: none;">
        <label for="correo">Ingresa tu correo electrónico para recuperar tu contraseña:</label><br>
        <input type="email" id="correo" name="correo" required><br><br>
        <button type="submit">Recuperar contraseña</button>
    </form>
</div>

<div th:if="${param.registroExitoso}">
    <div class="alert alert-success" role="alert">
        ¡Registro exitoso! Por favor inicia sesión con tus credenciales.
    </div>
</div>

<script>
    function mostrarFormulario() {
        // Mostrar el formulario de recuperación de contraseña
        document.getElementById("formularioRecuperacion").style.display = "block";
    }
</script>

</body>
</html>