<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PRINCIPAL USUARIO</title>
    <link rel="stylesheet" type="text/css" href="styleVistaPrincipal.css">
</head>
<body>
<header>
    <div class="logo">DOG WALKER</div>
    <div class="buttons">
        <a th:href="@{/logout}">Cerrar Sesión</a>
        <a th:href="@{perfilUsuario}">perfil </a>
    </div>
</header>

<p th:text="${message}"></p>



<h2>Mis Mascotas</h2>
<table>
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Raza</th>
        <th>Peso</th>
        <th>Descripción</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <!-- Iterar sobre la lista de mascotas -->
    <tr th:each="mascota : ${mascotas}">
        <td th:text="${mascota.nombre}"></td>
        <td th:text="${mascota.raza}"></td>
        <td th:text="${mascota.peso}"></td>
        <td th:text="${mascota.descripcion}"></td>
        <td>
            <!-- Botón para eliminar -->
            <form th:action="@{/eliminarMascota}" method="post" onsubmit="return confirm('¿Estás seguro de que deseas eliminar esta mascota?');">
                <input type="hidden" name="mascotaId" th:value="${mascota.id_mascota}">
                <button type="submit">Eliminar</button>
            </form>
            <!-- Botón para actualizar -->
            <form th:action="@{/editarMascota}" method="get">
                <input type="hidden" name="mascotaId" th:value="${mascota.id_mascota}">
                <button type="submit">Actualizar</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<form th:action="@{/registrarMascota}" method="get">
    <button type="submit">Registrar Macota</button>
</form>

<h2>Mis Reservas</h2>
<table>
    <thead>
    <tr>
        <th>Fecha</th>
        <th>Servicio</th>
        <th>Entrenador Asignado</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <!-- Iterar sobre la lista de reservas -->
    <tr th:each="reserva : ${reservas}">
        <td th:text="${reserva.fecha}"></td>
        <td th:text="${reserva.servicio.servicio}"></td>
        <td th:text="${reserva.entrenador.nombre}"></td>
        <td>
            <!-- Botón para eliminar -->
            <form th:action="@{/eliminarReserva}" method="post" onsubmit="return confirm('¿Estás seguro de que deseas eliminar esta reserva?');">
                <input type="hidden" name="reservaId" th:value="${reserva.idReserva}">
                <button type="submit">Eliminar</button>
            </form>
            <!-- Botón para actualizar -->
            <form th:action="@{/editarReserva}" method="get">
                <input type="hidden" name="reservaId" th:value="${reserva.idReserva}">
                <button type="submit">Actualizar</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<!-- Botón para crear una nueva reserva -->
<form th:action="@{/realizarReserva}" method="get">
    <button type="submit">Crear Nueva Reserva</button>
</form>
</body>
</html>